:root {
    --border-color: #000;
    --nav-height: 50px;
    --tag-color: #fc8549;
    --highlight-color: #E0E0E0;
    --card-color: #fff;
}

* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--highlight-color);
}