:root {
    --border-color: #000;
    --nav-height: 50px;
    --tag-color: linear-gradient(120deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 100%);
    --highlight-color: #D2E3FC;
    --card-color: #fff;
    --button-color: #49b08c;
}

* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--highlight-color);
}

body.dark-mode {
    background-color: var(--border-color);
    color: var(--card-color);
}