.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 0;
    margin: 0;
    padding-bottom: var(--nav-height);
}

.card {
    margin: 10px;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card__question {
    margin: 15px 10px 0 10px;
    text-align: center;
}

.card__answer {
    text-align: center;
}

.highlight {
    background: var(--highlight-color);
    border-radius: 3px;
}

.bookmark__icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    right: 10px;
    cursor: pointer;
}

.bookmark__img {
    width: 1.5em;
    height: 1.5em;
}

.card__answer {
    margin: 10px;
    visibility: hidden;
}

.hidden {
    visibility: visible;
}

.show__answer {
    border: 1px solid var(--border-color);
    margin-bottom: 5px;
    cursor: pointer;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
    align-items: start;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    list-style: none;
    cursor: pointer;
    background-color: var(--tag-color);
    padding: 5px;
    border: 1px solid var(--border-color);
    text-align: start;
    font-size: small;
}



