.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 0;
    margin: 0;
    padding-bottom: var(--nav-height);
}

.card {
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--card-color);
}

.card__question {
    margin: 15px 10px 0 10px;
    text-align: center;
    line-height: 1.2rem;
    font-size: 16px;
}

.card__answer {
    text-align: center;
    margin: 10px;
    visibility: hidden;
}

.highlight {
    background: var(--highlight-color);
    border-radius: 3px;
}

.bookmark__icon {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.bookmark__img {
    width: 1rem;
    height: 1rem;
}

.active {
    visibility: visible;
}

.show__answer {
    margin-bottom: 5px;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--highlight-color);
    font-weight: 500;
}

.show__answer:hover {
    background-color: var(--button-color);
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 10px;
    justify-content: start;
    flex-wrap: wrap;
    align-self: flex-start;
    margin: 10px;
}

.tag {
    list-style: none;
    cursor: pointer;
    background: #2A7B9B;
    background: var(--tag-color);  
    padding: 5px;
    text-align: start;
    font-size: small;
    border-radius: 5px;
}



