.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.card {
    margin: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bookmark, .bookmark__black {
    position: absolute;
    top: -10px;
    right: 5px;
}

.card__answer {
    margin: 10px;
}

.show__answer {
    border: 1px solid var(--border-color);
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
    align-items: start;
}

.tag {
    list-style: none;
    cursor: pointer;
    background-color: lightslategray;
    padding: 5px;
    border: 1px solid var(--border-color);
}

.bookmark__white {
    width: 20px;
    height: 20px;
}

.bookmark {
    cursor: pointer;
}