.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    padding: 20px;
}

input {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--card-color);
    display: block;
    width: 300px;
}

.submit__button {
    width: 50px;
}