.quiz__header {
    width: 100%;
    height: 60px;
    padding: 7px 0 0 10px;
    background-color: var(--highlight-color);
    font-weight: 530;
    color: var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz__header.dark-mode {
    background-color: var(--border-color);
}

.quiz__header--text.dark-mode {
    color: var(--card-color);
}

.quiz__header--block {
    margin: 5px;
    background-color: var(--card-color);
    width: 200px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 5px;
}

.quiz__header--block.dark-mode {
    background-color: var(--border-color);
}

.quiz__header--img {
    width: 2rem;
    height: 2rem;
}

.header__logo {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.header__logo img {
    width: 50px;
    height: 50px;
}



