.quiz__header {
    width: 100%;
    height: 50px;
    padding: 7px 0 0 10px;
    background-color: var(--highlight-color);
    font-weight: 530;
    color: var(--border-color);
    
}

.quiz__header--block {
    margin-top: 5px;
    background-color: var(--card-color);
    width: 200px;
    border-radius: 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    padding-left: 5px;
}

.quiz__header--img {
    width: 2rem;
    height: 2rem;
}

.header__logo {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.header__logo img {
    width: 50px;
    height: 50px;
}



