.nav {
    position: fixed;
    width: 100%;
    height: var(--nav-height);
    bottom: 0;
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--border-color);
    justify-content: space-around;
    align-items: center;
    z-index: 20;
}

.nav__icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}