.nav {
    position: fixed;
    width: 100%;
    height: var(--nav-height) + 5px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--highlight-color);
    justify-content: space-around;
    align-items: center;
    z-index: 20;
    background-color: var(--card-color);
}

.nav__btn > img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.nav__btn > img:active {
    transform: scale(1.1);
}








