.nav {
    position: fixed;
    width: 100%;
    height: calc(var(--nav-height) + 5px);
    bottom: 0;
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--border-color);
    justify-content: space-around;
    align-items: center;
    z-index: 20;
    background-color: #fff;
}

.nav__here {
    background-color: var(--highlight-color);
}

.nav__icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.nav__icon bookmarks:hover {
    background-image: url("./assets/bookmark-white.png");
}


