main {
    padding: 30px;
}

section{
    margin-bottom: 20px;
}

.profile__account {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
    justify-content: center;
    gap: 5px;
}

.profile__photo {
    width: 80px;
    height: 80px;
}

.profile__about-me {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 25px;
}

.profile__about--desc{
    margin-top: 2px;
}

.profile__score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    gap: 70px;
    margin-bottom: 20px;
}

.profile__score div {
    border: 1px solid var(--border-color);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    transition: border-color 0.3s ease;
}

.profil__link--bookmarks, .profil__score--answers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bookmark--active {
  content: url("../assets/bookmark.png");
}

.profile__score--icon {
    width: 1em;
    height: 1em;
}

.profile__dark-mode, .profile__settings {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 5px;
}

.profile__dark-mode {
    border: 1px solid var(--card-color);
    border-radius: 50px;
}

.profile__settings--title {
    margin-bottom: 10px;
}

.profile__options {
    margin-top: 10px;
}

.dark-mode--icon {
    height: 3em;
    width: 3em;
    cursor: pointer;
    transition: 0.5s ease;
}

.profile__settings--icon {
    height: 2em;
    width: 2em;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: var(--border-color);
}

@media(min-width: 600px) {
    main {
        margin: 0 40px;
    }
}



