main {
    padding: 30px;
}

section{
    margin-bottom: 20px;
}

.profile__account {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
    gap: 50px;
}

.profile__photo {
    width: 80px;
    height: 80px;
}

.profile__about-me {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 25px;
}

.profile__about--desc{
    margin-top: 2px;
}

.profile__score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    gap: 70px;
    margin-bottom: 20px;
}

.profile__score div {
    border: 1px solid var(--border-color);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.profil__score--bookmarks, .profil__score--answers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__score--icon {
    width: 1em;
    height: 1em;
}

.profile__dark-mode {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile__settings--title {
    margin-bottom: 10px;
}

.profile__settings {
    margin-top: 10px;
}

.dark-mode__icon {
    height: 3em;
    width: 3em;
}

@media(min-width: 600px) {
    main {
        margin: 0 40px;
    }
}

@media(min-width: 900px) {
    .profile__dark-mode{
        position: relative;
    }
    .dark-mode__icon {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

